<a href="/regions">Regions</a>

<div id="container">
  <%= render 'form' %>
<br />

<div id="map_canvas" ></div>


<!--  <div id="map_a">My Search Result</div>
  <div id="map_b">Google Search Result</div> -->

<h1>RECENT SEARCHES</h1>

<div id="searches">
  <%= render @searches %>
</div>



</div>
